tetris_core/target/
tetris_core/tetris_core.cpython-*.so
tetris_core/tetris_core.cpython-*.pyd
.venv/
.env
*.egg-info/
__pycache__/
training_runs/
wandb/
outputs/
.build_marker_release
.build_marker_dev
.build_marker
.DS_store
tetris_bot/scripts/training_data_scripting.npz
benchmarks/network_size_models/
benchmarks/profiles/optimize_latest.*
tetris_core/dist/
