ml_dtypes==0.5.4
dash_cytoscape==1.0.2
docstring_parser==0.17.0
tetris_core==0.1.0
requests==2.32.5
nest-asyncio==1.6.0
structlog==25.5.0
click==8.3.1
sentry-sdk==2.48.0
nodeenv==1.10.0
retrying==1.4.2
certifi==2026.1.4
dash==3.3.0
protobuf==6.33.2
pillow==12.1.0
maturin==1.10.2
pydantic==2.12.5
networkx==3.6.1
blinker==1.9.0
Flask==3.1.2
idna==3.11
itsdangerous==2.2.0
filelock==3.20.2
plotly==6.5.0
numpy==2.4.0
charset-normalizer==3.4.4
sympy==1.14.0
simple-parsing==0.1.7
gitdb==4.0.12
setuptools==80.9.0
importlib_metadata==8.7.1
onnx==1.20.0
mpmath==1.3.0
PyYAML==6.0.3
pydantic_core==2.41.5
onnx-ir==0.1.13
typing_extensions==4.15.0
packaging==25.0
wandb==0.23.1
Jinja2==3.1.6
fsspec==2025.12.0
MarkupSafe==3.0.3
pygame==2.6.1
torch==2.9.1
GitPython==3.1.46
onnxscript==0.5.7
platformdirs==4.5.1
smmap==5.0.2
pyright==1.1.407
tetris-mcts==0.1.0
urllib3==2.6.2
ruff==0.14.10
typing-inspection==0.4.2
zipp==3.23.0
annotated-types==0.7.0
Werkzeug==3.1.4
narwhals==2.14.0
